@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.eot");
  src: url("../fonts/Inter-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("../fonts/Inter-ExtraLight.woff") format("woff"),
    url("../fonts/Inter-ExtraLight.ttf") format("truetype"),
    url("../fonts/Inter-ExtraLight.svg#Inter-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.eot");
  src: url("../fonts/Inter-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff"),
    url("../fonts/Inter-Black.ttf") format("truetype"),
    url("../fonts/Inter-Black.svg#Inter-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff"),
    url("../fonts/Inter-Bold.ttf") format("truetype"),
    url("../fonts/Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.eot");
  src: url("../fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff") format("woff"),
    url("../fonts/Inter-ExtraBold.ttf") format("truetype"),
    url("../fonts/Inter-ExtraBold.svg#Inter-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.ttf") format("truetype"),
    url("../fonts/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter-Regular.ttf") format("truetype"),
    url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.eot");
  src: url("../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff"),
    url("../fonts/Inter-Light.ttf") format("truetype"),
    url("../fonts/Inter-Light.svg#Inter-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff"),
    url("../fonts/Inter-SemiBold.ttf") format("truetype"),
    url("../fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.eot");
  src: url("../fonts/Inter-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter-Thin.woff2") format("woff2"),
    url("../fonts/Inter-Thin.woff") format("woff"),
    url("../fonts/Inter-Thin.ttf") format("truetype"),
    url("../fonts/Inter-Thin.svg#Inter-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --dash-bg: #f4f5f7;
  --bg-gray-f8: #f8f8f8;
  --theme-primary: #ff6464;
  --theme-text: #585858;
  --theme-border-color: #ececec;
  --shadow-dark: 2px 2px 20px 3px rgba(0, 0, 0, 0.02);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Inter";
  line-height: 1;
  color: var(--theme-text);
}

ul li,
ol li {
  list-style-type: none;
}


ul,ol{
  margin-bottom: 0;
}

/* Single Product Section Start */

.single-product_section {
  padding: 32px 0;
}

/* Single Product Section End */

/* Dashboard Start */

.dash-wrap {
  height: 100vh;
  background: var(--dash-bg);
  display: flex;
  flex-direction: column;
}

.dash-nav {
  background: #fff;
  padding: 10px 32px;
  display: flex;
  align-items: center;
}

.dash-nav_right {
  margin-left: auto;
}

.dash-nav_noti {
  position: relative;
  width: 40px;
  height: 40px;
  background: var(--bg-gray-f8);
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  z-index: 1;
}

.nav_notification_number {
  position: absolute;
  top: 1px;
  right: -3px;
  background: var(--theme-primary);
  width: 16px;
  height: 16px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dash-nav_right {
  display: flex;
  align-items: center;
}

.dash-nav_user {
  display: flex;
  align-items: center;
}

.nav_user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 8px;
}

.nav_user-name {
  margin-bottom: 4px;
}

.nav_user-shop {
  margin-bottom: 0;
}

.nav_user-name {
  margin-bottom: 4px;
  color: var(--theme-primary);
  font-weight: 600;
  font-size: 14px;
}

.nav_user-shop {
  margin-bottom: 0;
  color: var(--theme-text);
  font-size: 11px;
}

.nav_notification-wizard {
  background: #fff;
  position: absolute;
  top: calc(100% + 20px);
  width: 280px;
  left: 0;
  border: 1px solid var(--theme-border-color);
  border-radius: 8px;
  box-shadow: var(--shadow-dark);
}

.heading-16 {
  margin: 0;
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ececec;
  font-size: 16px;
  font-weight: 600;
}

.nav_notification-wizard ul {
  padding: 8px;
  margin: 0;
}

.nav_notification-wizard ul li {
  text-align: left;
  margin-bottom: 8px;
  color: var(--theme-text);
  line-height: 1.5;
}

.nav_notification-wizard ul li:last-child {
  margin-bottom: 0;
}

.nav_notification-wizard li a {
  padding: 4px 8px;
  display: block;
  border-radius: 4px;
  color: var(--theme-text);
  font-weight: 400;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  display: flex;
  align-items: first baseline;
}

.nav_notification-wizard li a:hover {
  text-decoration: none;
  background-color: #fafafa;
  color: var(--theme-primary);
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}

.nav_notification-wizard li a::before {
	content: "";
	width: 5px;
	height: 5px;
	background: var(--theme-primary);
	display: block;
	border-radius: 50px;
	margin-right: 8px;
	flex-shrink: 0;
	margin-top: calc((21px / 2) - 2.5px);
}

.dash_outer-row {
  flex-grow: 1;
  display: flex;
}

.dash_sidebar {
  width: 224px;
  background: #fff;
  height: 100%;
}

.dash_sidebar ul li a {
  padding: 12px 16px;
  display: block;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: var(--theme-text);
  font-weight: 600;
  margin-right: 0;
}

.dash_sidebar ul li.active a::after {
  width: 10px;
  height: 100%;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/graphic.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.dash_sidebar ul li.active svg path {
  fill: var(--theme-primary);
}

.dash_sidebar ul li.active a {
  color: var(--theme-primary);
}

.dash_sidebar ul li a:hover {
  text-decoration: none;
}

.dash_sidebar ul li a svg {
  margin-right: 8px;
}

.dash_sidebar ul li.active a {
  background-color: #fafafa;
}

.dash_content {
  flex-grow: 1;
  padding: 32px;
}


.dash_content-main-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--theme-border-color);
}

.dropdown-content{
  display: none;
}

.setting-btn {
	width: 37px;
	height: 37px;
  background: #fff;
	border-radius: 50px;
	border: 2px solid var(--theme-primary);
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
  margin-right: 16px;
}

.dash_content-title-actions {
	display: flex;
	align-items: center;
}

.dash_action-setting-content {
	position: absolute;
	left: 0;
	top: calc(100% + 16px);
	width: 170px;
	background: #fff;
	border-radius: 8px;
	box-shadow: var(--shadow-dark);
	padding: 8px;
}

.dash_action-setting-content label {
  margin: 0;
  padding: 12px 8px;
  width: 100%;
  text-align: left;
  display: flex;
  color: var(--theme-text);
  align-items: center;
  font-weight: 500;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.dash_action-setting-content label input[type="radio"]{
  display: none;
}

.dash_action-setting-content label:hover{
  background-color: #fafafa;
  color: var(--theme-primary);
}

.choice-indicator {
	width: 28px;
	height: 14px;
	border-radius: 50px;
	border: 1px solid var(--theme-primary);
	margin-right: 14px;
	position: relative;
}

.choice-indicator::After{
  content:"";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 2px;
  top: 2px;
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
  background-color: var(--theme-primary);
}

.calendar-btn svg {
	margin-right: 8px;
}

.calendar-btn {
	padding: 9px 8px;
	border-radius: 8px;
	border: 2px solid var(--theme-primary);
	background: #fff;
	font-weight: 600;
	line-height: 1;
	display: flex;
  color: var(--theme-primary);
	align-items: center;
}

.heading-24 {
	color: #000;
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}
/* Dashboard End */
